---
import logo1 from "../assets/img/logo1.png";
import logo2 from "../assets/img/logo2.png";
import logo3 from "../assets/img/logo3.png";
import logo4 from "../assets/img/logo4.png";
import logo5 from "../assets/img/logo5.png";
import logo6 from "../assets/img/logo6.png";
import logo7 from "../assets/img/logo7.png";
---

<section>
    <p>We work on</p>
    <h2>All Makes & Models</h2>
    <h2 class="text-l">We work on all makes and models</h2>
    <div class="brands">
        <img src={logo1.src} alt="" />
        <img src={logo2.src} alt="" />
        <img src={logo3.src} alt="" />
        <img src={logo4.src} alt="" />
        <img src={logo5.src} alt="" />
        <img src={logo6.src} alt="" />
        <img src={logo7.src} alt="" />
    </div>
    <div class="brands">
        <img src={logo1.src} alt="" />
        <img src={logo2.src} alt="" />
        <img src={logo3.src} alt="" />
        <img src={logo4.src} alt="" />
    </div>
    <a href="#" class="a-btn brands-btn">View More</a>
</section>

<style>
    * {
        margin: 0;
        padding: 0;
    }
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        padding: 80px 64px;
    }
    section h2:last-of-type {
        display: none;
    }
    .brands {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 48px;
        & img {
            width: 100px;
            object-fit: contain;
        }
    }
    .brands-btn {
        display: none;
    }

    @media only screen and (max-width: 768px) {
        section {
            padding: 48px 24px;
        }
        section p {
            display: none;
        }
        section h2:first-of-type {
            display: none;
        }
        section h2:last-of-type {
            display: flex;
        }
        .brands {
            flex-direction: column;
        }
        .brands:first-of-type {
            display: none;
        }
        .brands-btn {
            display: flex;
        }
    }
</style>
