---
import Social from "../Social.astro";

const profiles = [
  {
    src: "/src/assets/team/member1.png",
    alt: "Team Member 1",
    name: "Full name",
    job: "Job title",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.",
  },
  {
    src: "/src/assets/team/member2.png",
    alt: "Team Member 2",
    name: "Full name",
    job: "Job title",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.",
  },
  {
    src: "/src/assets/team/member3.png",
    alt: "Team Member 3",
    name: "Full name",
    job: "Job title",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.",
  },
];
---

<div class="team">
  <div class="our-team">
    <div class="our-team-tagline text-m">Tagline</div>
    <div class="our-team-title text-l">Our Team</div>
    <div class="our-team-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
  </div>
  <div class="teammates">
    {
      profiles.map((profile) => {
        return (
          <div class="team-member">
          <div class="team-member-pic">
            <img src={profile.src} alt={profile.alt} />
          </div>
          <div class="team-member-info text">
            <div class="name text-m">{profile.name}</div>
            <div class="job">{profile.job}</div>
            <div class="description">
              {profile.description}
            </div>
          </div>
          <div class="team-member-socials">
            <Social facebook={false} instagram={false} />
          </div>
        </div>
        )
      })
    }
  </div>
</div>

<style>
  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .our-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .our-team-title {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .teammates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }
  .team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
  }

  .team-member-pic img {
    max-width: 100%;
  }

  .team-member-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .description {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
  }

  @media only screen and (min-width: 768px) {
    .team {
      gap: 5rem;
    }

    .teammates {
      flex-direction: row;
    }
  }
</style>
